@media (max-width: 1348px) {
  #header {
    flex-direction: column;
    align-items: center;
  }

  #menu {
    justify-content: space-between;
    width: 90%;
    padding-bottom: 10px;
  }
}

@media (max-width: 525px) {
  #menu ul {
    flex-direction: column;
  }

  #menu > ul > li {
    padding: 8px;
  }

  .logo {
    margin-left: 0px;
  }
}

@media (max-width: 990px) {
  #aside-home {
    text-align: initial;
    margin-top: 0px;
  }

  #content.home {
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
  }

  #name-content .name1 {
    margin-right: 0px;
    font-size: 11vw;
  }

  #name-content .name2 {
    margin-top: -6%;
    font-size: 10vw;
  }

  .experience-content {
    flex-direction: column;
    text-align: center;
  }

  .experience-3,
  .experience-2,
  .experience-1 {
    width: 100%;
  }
}

@media (max-width: 675px) {
  .experience-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
  }
}

@media (max-width: 646px) {
  #content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .contact-info h3,
  .contact-info h4 {
    font-size: 15px;
  }

  

  #projects-parallax {
    margin: 0;
  }

  #aside h2 {
    padding-bottom: 30px;
  }

  #aside ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  #aside {
    margin-right: 0px;
  }

  #aside ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  #aside ul li {
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;
  }

  .project {
    margin-right: 10px;
    margin-left: 10px;
  }

  #footer .logo {
    flex-grow: 1;
    order: 1;
    flex-basis: 100%;
    text-align: center;
    margin: 0px;
  }

  #footer .info,
  .info2 {
    flex-grow: 1;
    order: 2;
    margin-left: 20px;
    flex-basis: 100%;
    text-align: center;
    margin: 0px;
  }
}
